---
layout: default.hbs
styles: ['index.css']
scripts: []
---

<div>
	<h2>Article</h2>
	<ul>
	{{#each bookmarks.article.noclassification}}
		<li><a href="{{url}}">{{title}}</a></li>
	{{/each}}
	</ul>

	<div>
		<h3>JavaScript</h3>
		<ul>
		{{#each bookmarks.article.javascript}}
			<li><a href="{{url}}">{{title}}</a></li>
		{{/each}}
		</ul>
	</div>

	<div>
		<h3>CSS</h3>
		<ul>
		{{#each bookmarks.article.css}}
			<li><a href="{{url}}">{{title}}</a></li>
		{{/each}}
		</ul>
	</div>
</div>
<div>
	<h2>Slide</h2>
	<ul>
	{{#each bookmarks.slide.noclassification}}
		<li><a href="{{url}}">{{title}}</a></li>
	{{/each}}
	</ul>
</div>
<div>
	<h2>Tool</h2>
	<ul>
	{{#each bookmarks.tool.noclassification}}
		<li><a href="{{url}}">{{title}}</a></li>
	{{/each}}
	</ul>
	<div>
		<h3>JavaScript</h3>
		<ul>
		{{#each bookmarks.tool.javascript}}
			<li><a href="{{url}}">{{title}}</a></li>
		{{/each}}
		</ul>
	</div>
	<div>
		<h3>CSS</h3>
		<ul>
		{{#each bookmarks.tool.css}}
			<li><a href="{{url}}">{{title}}</a></li>
		{{/each}}
		</ul>
	</div>
	<div>
		<h3>HTML</h3>
		<ul>
		{{#each bookmarks.tool.html}}
			<li><a href="{{url}}">{{title}}</a></li>
		{{/each}}
		</ul>
	</div>
	<div>
		<h3>Image</h3>
		<ul>
		{{#each bookmarks.tool.image}}
			<li><a href="{{url}}">{{title}}</a></li>
		{{/each}}
		</ul>
	</div>
	<div>
		<h3>Monitor</h3>
		<ul>
		{{#each bookmarks.tool.monitor}}
			<li><a href="{{url}}">{{title}}</a></li>
		{{/each}}
		</ul>
	</div>
</div>
